YOUTUBE_CHANNEL_ID = "example"
YOUTUBE_CHANNEL_TITLE = "example"
DISCORD_CONTENT_ANNOUNCER_WEBHOOK_ID = "example"
DISCORD_CONTENT_ANNOUNCER_WEBHOOK_TOKEN = "example"
DISCORD_EXERCISE_RANKER_WEBHOOK_ID = "example"
DISCORD_EXERCISE_RANKER_WEBHOOK_TOKEN = "example"
DISCORD_EXERCISE_EVENT_URL = "example"
GOOGLE_SPREADSHEETS_ID = "example"
GOOGLE_SPREADSHEETS_GID = "example"
